#map{
     height: 400px;
     width: 90%;
     margin:5%;
}
h1 { color: #855085; 
     font-family: "Great Vibes"; 
     font-size: 60px;  
     text-align: center; 
     text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

.card {
width:55%;
margin:10px auto;
border: 2px solid silver;
}

.card .card-body {
    display: flex;
    justify-content: space-around;
}

.card .card-body button {
        width: 30%;
}



table{
        margin: 60px auto;
}

.table thead th {
background-color:silver;
}

.card-body .btn{
width:30%;
}

.table {
width:80%;
border:1px solid silver;
}

.card .favorites-btn {
position:relative;
cursor:pointer;
}

.card .route-btn {
cursor:pointer;
}

.empty-star , .filled-star {
color:yellow;
font-size: 35px;
position: absolute;
top: 0px;
right: 5px;
}
